@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(15, 1, 124);
}


header{
    display: flex;
    background-color: #FFFFFF;
    font-family: poppins;
    height: 50px;

}
.título-menú{
    margin-left: 100px;
    padding: 10px 100px;
    font-size: 20px;
    color: #252B33;
}
.barra-menu{
    text-decoration: none;
    padding: 0 10px;
    font-size: 13px;
    color: #252B33;
    
    
    
}

nav{
    display: flex;
    margin: 0;
    padding: 15px 20px;
    
}
.iconos-menu{
    color: #4D555A;
    padding: 0 10px;
    margin-left: 100px;
    
}

.bi{
    padding: 5px;
    color: #4D555A;
    width: 150px;

}
.barra-menu:hover{
    background-color: #dce0e2;
}
.bi:hover{
    background-color: #dce0e2;
    border-radius: 30%;
}

main{
    margin: 0 auto;

  /*hero*/  
}

.hero{
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    background-color: #F5DF4E;
    align-items: center;
    padding-top: 50px;
    

}


    
}
.contenedor-foto{
   
    width: 300px;
    padding-right: 50px;
}

.fotocara{
    width: 100%;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    
}
.titulo1{
    font-family: poppins;
    font-size: 30px;
    color: #212529;
}
.titulo2{
    font-family: poppins;
    font-size: 65px;
    letter-spacing: 5px;
    color: #212529;
}
.botonhero1{
    border: 0;
    background-color: #212529;
    color: #FFFFFF;
    padding: 10px 30px;
    margin-top: 30px;
    font-family: poppins;
    font-size: 12px;
}
.botonhero2{
    border: 0;
    background-color:#F5DF4E;
    margin-left: 30px;
    border-bottom: 1px solid #252B33;
    font-family: poppins;
    color: #212529;
    font-size: 12px;
}
p{
    font-family: poppins;
    color: #212529;
    
}
.botonhero1:hover{
    background-color: #4D555A;
}
.botonhero2:hover{
    color: #FFFFFF ;
}
